
body{
background-color: blanchedalmond;
}

#headsection{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-bottom: 2px solid black;
}
#headh1{
  color: #00BFFF;
  margin-left: 10px;
  text-transform: uppercase;
  
}

/* Hira Express */
#hiraexpressdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
} 

#hiraexpress{
  text-align: center;
  color: green;
  margin-left: 10px;
}
/* Gemilang Asrimaju */
#gemilangdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
}
#gemilang{
  text-align: center;
  color: red;
  margin-left: 10px;
}

/* Pirusa Jaya Transport*/
#pirusadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
}
#pirusa{
  text-align: center;
  color: blue;
  margin-left: 10px;
}

/* Baron Perkasa Mandiri */
#barondiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
}
#baron{
  text-align: center;
  color: #9966CC;
  margin-left: 10px;
}

/* Panca Kobra Sakti*/
#PancaKobradiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
}
#pancakobra{
  text-align: center;
  color: black;
  margin-left: 10px;
  }
/* CH Transport */
#chtransportdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
}
#chtransport{
  text-align: center;
  color: red;
  margin-left: 10px; 
}

/* Cipta Harapan Jaya */
#ciptadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}

#cipta{
  text-align: center;
  color: red;
  margin-left: 10px; 
}

/* Papandayan Cargo */
#papandayandiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}

#papandayan{
  text-align: center;
  color: #0047AB;
  margin-left: 10px;
}

/* Ujb/Cetl */
#cetldiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;
}

#cetl{
  text-align: center;
  color: #8A2BE2;
  margin-left: 10px; 
}

/* Sulawesi Jaya Raya/sjr*/
#sjrdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}

#sjr{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}

/* Pirusa Jaya Transport */
#pirusadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}

#pirusa{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px;  
}

/* sarana adi pratama*/
#saranadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}

#sarana{
  text-align: center;
  color: #FF0800;
  margin-left: 10px; 
}

/*Tifa Trans Logistic*/
#Tifadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Tifa{
  text-align: center;
  color: #0047AB;
  margin-left: 10px; 
}

/* Jaya Raya Baru*/
#Jayadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Jaya{
  text-align: center;
  color: #FDEE00;
  margin-left: 10px;
}

/*Topan Logistic Logistic*/
#Topandiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Topan{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px;  
}

/* Berdikari */
#berdikaridiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#berdikari{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px;  
}

/*Cipta Harapan Jaya*/
#Ciptadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ;  
}
#Cipta{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px;
}
/*Multi Express Transindo */
#multidiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#multi{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}

/*Wahana Jasa Karya Tirta*/
#wahanadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#wahana{
  text-align: center;
  color: #FF0800;
  margin-left: 10px; 
}

/* Artha Jaya Express*/
#Arthadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Artha{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}

/* garuda jaya sumber indah*/
#garudadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#garuda{
  text-align: center;
  color: #FDEE00;
  margin-left: 10px; 
}

/* Bintang Saudara */
#Bintangdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Bintang{
  text-align: center;
  color: #FDEE00;
  margin-left: 10px; 
}

/* Bintang Mas*/
#Bintangmasdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Bintangimg{
  rotate: 270deg;
  width: 80px;
  height: 100px;
}
#Bintangmas{
  text-align: center;
  color: #FDEE00;
  margin-left: 10px;
  
}

/*Lintas Abadi*/
#lintasabadidiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#lintasabadi{
  text-align: center;
  color:#00BFFF;
  margin-left: 10px; 
}

/*Ksi Cargo Logistic*/
#Ksidiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#Ksi{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}
/*Jasa Prima Mustika*/
#jasaprimadiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#jasaprima{
  text-align: center;
  color: #FF0800;
  margin-left: 10px; 
}
/*Semangat Transport*/
#semangatdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#semangat{
  text-align: center;
  color: #FDEE00;
  margin-left: 10px; 
}

/*awr cargo*/
#awrdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#awr{
  text-align: center;
  color: #FF0800;
  margin-left: 10px; 
}
/*SNG*/
#sngdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#sng{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}
/*mks*/
#mksdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#mks{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}
/*sumber urip*/
#sumberuripdiv{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 0px 0px ; 
}
#sumberurip{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}
/*tesa Logistic*/
#tesadiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px ;
}
#tesa{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}
/*setiawan bersama mitra*/
#SBMdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px ;
}
#SBM{
  text-align: center;
  color: #00BFFF;
  margin-left: 10px; 
}
/*Cipta Agung Abadi*/
#ciptaagungdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px ;
}
#ciptaagung{
  text-align: center;
  color: #FDEE00;
  margin-left: 10px; 
  font-family: arial;
}


img{
    width: 150px;
    height: 70px;
    
    
  }
  div > table{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;   
  }
  
  tr{
    
    background-color:skyblue;
    text-align: center;
    font-size: 20px;
    text-decoration: solid;
    color: black;
  }
  th{
    border: 3px solid red;
  }
  .gambar{
    width: 30px;
    height: 20px;
    align-items: center;
  }
  .lokasi:hover{
    color: red;
    
  }
  .lokasi{
    color:green;
  }
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: red;
    text-decoration: none;
  }
  .countnumber{
    width: 10px;
    
  }
  